* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    height: 100vh;
    overflow: hidden;
}

ul {
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.2);
    width: 50%;
    margin: auto;
    list-style-type: none;
}

li {
    height: 50vh;
}

img {
    width: 100%;
    height: 100%;
}
